<%= form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term_name %><br>
    <%= f.text_field :term_name %><br>
    <%= f.hidden_field :plan_id, :value => params[:plan_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
