<%= form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term_name %><br>
    <%= f.text_field :term_name %>
    <%= hidden_field_tag 'plan_id', @term.plan_id %>
  </div>

  <h2>Add Courses</h2>
  <% #@courses.each do |course| %> 
    <div class="field">
  <%= f.collection_check_boxes :courses, Course.where(term_id: nil), :id, :name %>

    </div>
  <% #end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
