<%= form_for(@migrate) do |f| %>
  <% if @migrate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@migrate.errors.count, "error") %> prohibited this migrate from being saved:</h2>

      <ul>
      <% @migrate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :AddDescriptionToPlans %><br>
    <%= f.text_field :AddDescriptionToPlans %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
