<p id="notice"><%= notice %></p>

<h1>Listing Migrates</h1>

<table>
  <thead>
    <tr>
      <th>Adddescriptiontoplans</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @migrates.each do |migrate| %>
      <tr>
        <td><%= migrate.AddDescriptionToPlans %></td>
        <td><%= migrate.description %></td>
        <td><%= link_to 'Show', migrate %></td>
        <td><%= link_to 'Edit', edit_migrate_path(migrate) %></td>
        <td><%= link_to 'Destroy', migrate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Migrate', new_migrate_path %>
