<p id="notice"><%= notice %></p>

<p>
  <strong>Adddescriptiontoplans:</strong>
  <%= @migrate.AddDescriptionToPlans %>
</p>

<p>
  <strong>Description:</strong>
  <%= @migrate.description %>
</p>

<%= link_to 'Edit', edit_migrate_path(@migrate) %> |
<%= link_to 'Back', migrates_path %>
