<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
  <br>
  <strong>Description: </strong>
  <%= @plan.description %>
  <br>
  <strong>Terms:</strong>
  <%= @term.where(plan_id: @plan.id).pluck(:term_name) %>
  <p>Plan id is <%= @plan.id %></p>
  <%= link_to 'Add Term', new_term_path(:plan => @plan) %>
</p>

<%= link_to 'Edit', edit_plan_path(:plan) %> |
<%= link_to 'Back', plans_path %> 
