<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
  <br>
  <strong>Description: </strong>
  <%= @plan.description %>
  <br>
  <strong>Terms:</strong>
  <table>
	  <% @terms.each do |term| %>
	  	<tr><td><%= term.term_name %></td><td><%= link_to 'Edit', edit_term_path(term) %></td></tr>
		<% end %>
	</table>
  <hr />
  <%= link_to 'Add Term', new_term_path(:plan_id => @plan.id) %>
</p>

<%= link_to 'Edit', edit_plan_path(:plan) %> |
<%= link_to 'Back', plans_path %> 
