<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
  <br>
  <strong>Description: </strong>
  <%= @plan.description %>
  <br>
    <h3>Term</h3>
	  <% @terms.each do |term| %>
    <table>
	  	<tr>
        <table>
  	  		<tr>
            <td><%= term.term_name %></td>
    	  		<td><%= link_to 'Edit', edit_term_path(term) %></td>
    	  		<td><%= link_to 'Show', term_path(term) %></td>
            <td><%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% Course.where(term_id: term.id).each do |course| %>
          <tr>
            <td></td>
            <td><%= course.name %></td>
            <td><%= course.course_id %></td>
            <td><%= course.num_cred %></td>
          </tr>
          <% end %>
        </table>
	  	</tr>
		<% end %>
	</table>
  <br>
  <%= link_to 'Add Term', new_term_path(:plan_id => @plan.id) %>
  <hr />
</p>

<%= link_to 'Edit', edit_plan_path(@plan.id) %> |
<%= link_to 'Back to Plans', plans_path %> 
